
.memory-card {
    /*  we put the back on the face*/
 cursor: pointer;
  position: relative;
  transition: .7s ease-in-out;
  transform-style: preserve-3d;
  
 .card-face, .card-back {
 /* define faces 's style*/
   display: block;
   margin: 5px;
   padding: 5px;
   border: 2px solid $black;
   border-radius: 15px;
   box-shadow: $grey 0px 5px 15px;
   backface-visibility: hidden;
   img {
       width: 100px;
   }
 }
 /* define faces 's style*/
 .card-face {
   transform: rotateY(180deg);  
   transition: all ease-in 0.2s ;
   background-color: $purple-light;
   position: absolute;
 }
 .card-back {
   background-color: $green;
   transform: rotateY(0deg);
   transition: all ease-in 0.2s ;  
 }
} 
.win-game{
    background-color: $green;
    text-align: center;
    border-radius: 8px;
    width: 50%;
    height: 3rem;
    margin: 20px auto;

   
    p{
        color:$black;
        font-weight: 700;
        padding: 10px;
    }
  
}
 /* define flipped card style*/
.flipped   {
    transform: rotateY(180deg);  
 transition-delay: 0.2s;
}




