.memory-game{
    background-color: $grey-light;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    perspective: 800px;

  .memory-card {
     /*  we put the back on the face*/
  cursor: pointer;
   position: relative;
 transition: .7s ease-in-out;
  transform-style: preserve-3d;
   
  .card-face, .card-back {
  /* define faces 's style*/
    display: block;
    margin: 5px;
    padding: 5px;
    border: 2px solid $black;
    border-radius: 15px;
    box-shadow: $grey 0px 5px 15px;
    backface-visibility: hidden;
    img {
        width: 100px;
    }
  }
  /* define faces 's style*/
  .card-face {
    transform: rotateY(180deg);  
    background-color: $purple-light;
    position: absolute;
  }
  .card-back {
    background-color: $green;
    transform: rotateY(0deg);  
  }
}  
}
.memory-find {
    background-color: #f5efed;
  }
 /* define flipped card style*/
.flipped   {
    transform: rotateY(180deg);  
 
}




