




.memory-card{
    position: relative;
    transform-style: preserve-3d; 
    transition: all .8s linear;
}
.flip{
    transform: rotateY(180deg);
}

img{
    width: 100px;
}

.memory-face,.memory-back {
    margin: 5px;
    padding: 5px;
    border: 2px solid#292626; 
    border-radius: 15px;
    box-shadow: #c2c2c2 0px 5px 15px;
}

.memory-face{
    background-color: #cca596;
}
.memory-back {
    position: absolute;
    background-color: #cfff7d;

}

.memory-find{
   background-color: #F5EFED;;
}


