// police
@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Questrial-Regular.woff2);
  }
  @font-face {
    font-family: "font-2";
    src: url(../assets/fonts/Michroma-Regular.woff2);
  }


//variables
$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;

$purple: #64555b;
$purple-light: #e6d1d9;
$color-2: #C1912B;
$color-3: #23526C;
$color-4: #57605B;
$grey: #D9DCD6;
$color-6: #7FC29B;
$green: #B5EF8A;
$black: #313638;

//reset CSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: $font-1;
  
}
//common elements
.game-container{
    background-color: $color-4 ;
    height: 100%;
    header{
        background-color: purple-light;
    }
    header > h1 {
        color:$purple;
        text-align: center;
        padding: 20px;
        font-size: 50px;
    
    }
    .score-board{
        border: 2px solid #F5EFED; 
        text-align: center;
        font-weight: bold;
        border-radius: 8px  ;
        width: 500px;
        padding: 10px;
        margin: 20px auto ;
        p{
            color:$grey;
            font-size:20px;
        }
        
    }
    .game-gird{
        background-color:$grey;
    }

}
